.bigbird
{
    width:900px;
    height:756px;
    top:0;
    position:absolute;
    display:relative;
    left:0;
}
h1
{
    font-weight:bold;
    margin-left:930px;
    font-size: 68px;
    margin-top:50px;
    color: white;
    
}
h3
{
    position:absolute;
    font-weight:bold;
    margin-left:930px;
    font-size:large;
    margin-top:37px;
    color: white;
}
body
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:black;
}
.smbird
{
    margin-left:910px;
    width:90px;
    margin-top:5px;
    
}
.ovbird
{
    position:absolute;
    top:240px;
    left:340px;
    z-index:2
}
h2
{
    font-weight:bold;
    margin-left:930px;
    font-size: 38px;
    margin-top:50px;
    color: white;

}
.lab
{
    margin-left:930px;
    
    
}
.aa
{
    text-decoration:none;
    display:inline-block;
    border:2px solid;
    padding:10px 124px;
    border-radius:20px;
    margin-left:930px;
    background-color: white;
    color:black;
    font-weight:bold;
}
.or 
{
    color:grey;
}
.a1
{
    text-decoration:none;
    font-weight:bold;
    color:black;
    background-color: white;
    padding:10px 80px;
    border-radius:20px;
    display:inline-block;
    margin-left:930px;
    margin-top:10px;
}
p
{
    margin-left:950px;
    font-weight:100;
    color:white;

}
.a2
{
    text-decoration:none;
    font-weight:bold;
    color:White;
    background-color: rgb(29, 155, 240);
    padding:10px 95px;
    border-radius:20px;
    display:inline-block;
    margin-left:930px;
    margin-top:10px;

    
}
.fon
{
    color:rgb(166, 166, 166);
}
.te
{
    font-weight:lighter;
    font-size:75%;
    color:rgb(175, 175, 175);
    text-decoration:none;
    
}
.te1
{
    text-decoration:none;
    color:deepskyblue
}
.te1:hover
{
    text-decoration:underline;
}
.sign_in
{
    text-decoration:none;
    color:deepskyblue;
    display:inline-block;
    border:1px solid rgb(105, 104, 104);
    padding:10px 125px;
    border-radius:20px;
    margin-left:930px;
    margin-top:80px;
    font-weight:bold;
}
.ab
{
    text-decoration:none;
    margin:10px;
    font-weight:lighter;
    font-size:smaller;
    color:rgb(132, 132, 132);
    
}
.abb
{
    margin-left:30px;
    text-decoration:none;
    font-weight:lighter;
    font-size:smaller;
    color:rgb(132, 132, 132);
    margin-right:10px;
}
.abb:hover
{
    text-decoration:underline;
}
.ab:hover
{
    text-decoration:underline;
}
.x
{
    
    font-weight:lighter;
    font-size:smaller;
    color:rgb(132, 132, 132);
    margin-left:-200px;
}